:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-whale: #062b49;
  --color-san-marino: #4077a8;
  --color-boulder: #757575;
}

$font-family: 'seguisb';

$color-white: var(--color-white);
$color-black: var(--color-black);
$color-blue-whale: var(--color-blue-whale);
$color-san-marino: var(--color-san-marino);
$color-boulder: var(--color-boulder);
